@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
  --bg: #ffffff;
  --text: #000000;
  --primary: #070F1F;
  --primary-hover: #06062e;
  --card-bg: #ffffff;
  --btn-bg: #FF6B00;
  --btn-hover: var(--primary-hover);
  --bg-mobile: #fff;
  --border: #000000;
}

.dark-mode {
  --bg: #000000;
  --text: #f5f5f5;
  --primary: #070F1F;
  --primary-hover: #06062e;
  --card-bg: #1A1F2C;
  --btn-bg: #FF6B00;
  --btn-hover: var(--primary-hover);
  --bg-mobile: #070F1F;
  --border: #fff;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  letter-spacing: 0.2px;
}

.navbar,
.custom-bg {
  background-color: var(--primary-hover) !important;
}

.text-a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Ubuntu', sans-serif;
}

.logo-texto {
  color: #fff;
}

.logo-texto:hover {
  color: #fff;
}

.busca-caixa input {
  padding: 8px 15px;
  border-radius: 20px;
  border: none;
  outline: none;
  width: 220px;
  transition: 0.3s;
}

.busca-caixa input:focus {
  width: 260px;
}

.user-icon {
  transition: 0.3s;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.user-icon:hover {
  color: var(--btn-bg) !important;
}

.dropdown-menu {
  background-color: var(--primary);
  color: var(--text);
  border-color: var(--primary);
}

.dropdown-item {
  color: white;
}

.dropdown-item:hover,
.dropdown-menu:hover {
  color: var(--btn-bg);
}

section[id] {
    scroll-margin-top: 90px;
}

.img-opacidade {
  filter: brightness(60%);
}

.carousel-item img {
  transition: transform 1s;
}

.carousel-caption {
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  text-align: center;
  padding: 0 10px;
}

.carousel-caption h3 {
  font-size: clamp(2rem, 10vw, 5rem);
  letter-spacing: 1px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  margin: 0;
}

.btn-custom {
  background-color: #ff7020;
  border-radius: 40px;
  padding: 10px;
  transition: 0.3s;
  border: none;
  color: white;
  font-weight: bold;
}

.btn-custom:hover {
  background-color: var(--btn-hover);
  color: white;
}

.secao-intro {
  background-color: var(--bg);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.text-custom-orange {
  color: #ff7020;
}

.secao-intro-h2,
.secao-intro h4 {
  color: var(--text);
}

.secao-intro h4 {
  font-weight: 700;
  font-size: 1rem;
}

.secao-intro p {
  color: #666;
}

.dark-mode .secao-intro p {
  color: #bbb;
}

#destinos a {
  text-transform: uppercase;
}

.card-destino-custom {
  border: none !important;
  border-radius: 5px !important;
  overflow: hidden;
  position: relative;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  background-color: var(--card-bg);
}

.card-img-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 250px;

}

.card-img-top {
  width: 100%;
  height: 400px;
  object-fit: cover;
  filter: brightness(60%);
}

.card-info-fixa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px;
  z-index: 2;
}

.nome-destino-overlay {
  color: #ffffff !important;
  font-weight: 700;
  font-size: clamp(1.2rem, 4vw, 1.8rem);
  margin: 0;
  letter-spacing: 1px;
}

.avaliacao-estrelas {
  color: #ffcc00;
  font-size: 15px;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.89);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 3;
  padding: 30px;
}

.card-img-container:hover .card-overlay {
  opacity: 1;
}

.overlay-conteudo {
  text-align: center;
  transform: translateY(20px);
  transition: transform 0.4s ease;
}

.descricao-destino {
  color: #ffffff;
  font-size: 1rem;
  margin-bottom: 25px;
  line-height: 1.5;
}

a {
  color: var(--text);
  text-decoration: none;
}

a:hover {
  color: #0e0d57;
}

.form-label {
  color: #ff7020;
  text-transform: uppercase;
  font-weight: bold;
}

.form-control,
.form-select {
  background-color: var(--bg);
  border-radius: 20px;
  padding: 15px;
}

.form-control:focus,
.form-select:focus {
  border-color: var(--btn-bg);
}

.btn-voltar:hover {
  color: var(--btn-bg);
}

#reservaForm {
  background-color: var(--card-bg);
  padding: 20px;
  margin-top: 100px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.dark-mode .form-control,
.dark-mode .form-select {
  background-color: var(--primary);
  color: var(--text);
}

.form-control::placeholder {
  color: #000000;
  opacity: 0.7;
}

.dark-mode .form-control::placeholder {
  color: #ffffff;
  opacity: 0.7;
}

#resultado {
  background-color: var(--bg-mobile);
  margin: 0 20px;
  border-radius: 10px;
  padding: 10px;
  color: var(--text);
  width: 460px;
}

#erro {
  color: rgb(236, 81, 81);
  padding: 10px;
  border-radius: 10px;
}

.pagina-reservas {
  background-color: rgba(189, 189, 189, 0.514);
}

.dark-mode.pagina-reservas {
  background-color: #050505;
}



.card {
  background-color: var(--card-bg);
  color: var(--text);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.profile-header {
  background-color: var(--card-bg);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 60px 0;
  margin-top: 80px;
}

.dark-mode .profile-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.profile-img-container {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 auto;
}

.profile-img-container i {
  font-size: 100px;
  color: var(--btn-bg);
}

.edit-photo-btn {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: var(--primary);
  color: white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--bg);
  transition: 0.3s;
}

.edit-photo-btn:hover {
  background-color: var(--btn-bg);
}

.list-group-item {
  background-color: var(--card-bg);
  color: var(--text);
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 15px 20px;
  transition: 0.3s;
}

.list-group-item.active {
  background-color: var(--btn-bg) !important;
  border-color: var(--btn-bg) !important;
}

.list-group-item:hover:not(.active) {
  background-color: var(--primary);
  color: white;
}

.reserva-card {
  border-left: 5px solid var(--btn-bg);
  transition: 0.3s;
}

.reserva-card:hover {
  transform: translateX(5px);
}

.footer-principal {
  background-color: var(--primary-hover);
  color: #ffffff;
  padding: 60px 0 20px 0;
  font-size: 18px;
}

.footer-principal h5 {
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--btn-bg);
  margin-bottom: 25px;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links a {
  color: #ccc !important;
  transition: 0.3s;
}

.social-icons-pro i {
  color: white;
}

.footer-links a:hover {
  color: #fff !important;
  padding-left: 5px;
}

.footer-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 15px;
  outline: none;
}

.footer-input:focus {
  border-bottom-color: var(--btn-bg);
}

.footer-btn {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 8px 20px;
  border-radius: 5px;
  width: 100%;
  transition: 0.3s;
}

.footer-btn:hover {
  background: #fff;
  color: var(--primary-hover);
}

/* Mobile */
@media (max-width: 768px) {
  .img-opacidade {
    height: 400px;
    object-fit: cover;
  }

  .carousel-item img {
    height: 300px;
    object-fit: cover;
  }

  .logo-texto {
    display: none;
  }

  .busca-caixa input,
  .busca-caixa input:focus {
    width: 100px;
  }

  nav {
    background-color: var(--primary);
    padding: 1px;
  }

  .card-img-top {
    height: 250px;
  }

  .descricao-destino {
    color: #ffffff;
    font-size: 0.9rem;
    margin-bottom: 25px;
    line-height: 1.5;
  }

  #reservaForm {
    margin: 10px;
  }

  .form-info {
    margin-top: 60px;
  }
}